{% extends 'base.html' %}

{% block main %}
<nav aria-label="Навигация по страницам">
    <ul class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Предыдущая</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Предыдущая</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li class="page-item {% if page_obj.number == page %}active{% endif %}">
            <a class="page-link" href="?page={{page}}">{{page}}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Следующая</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Следующая</a></li>
        {% endif %}
    </ul>
</nav>
<div class="container mt-4">
    <div class="row justify-content-center mb-4">
        {% for cours in cours_list %}
        <div class="col-auto mb-3">
            <div class="card" style="width: 15rem; height:30rem; background-color: orange;">
                <div class="card-body">
                    <p class="card-text text-muted">{{cours.category}}</p>
                    <h5 class="card-title">{{cours.name_course}}</h5>
                    <p class="card-text">{{cours.description_course|truncatechars:100}}</p>
                    <p class="card-text"><strong>от {{cours.price_course}} р/мес</strong></p>
                    <p class="card-text">Старт: {{ cours.date_start_course }} </p>
                    <a href="{% url 'CoursDetail' pk=cours.pk %}" class="btn btn-primary">Узнать подробнее...</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>Курсы скоро появятся!</p>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}